<form (ngSubmit)="save(form)" #form="ngForm">
  <div class="container">
    <div class="form-group">
      <label>Id</label>
      <input [(ngModel)]="music.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>Title</label>
      <input
        [(ngModel)]="music.title"
        class="form-control"
        name="titleControl"
        type="text"
        #titleControl="ngModel"
        required
      />
    </div>

    <div
      *ngIf="titleControl.dirty && titleControl.invalid"
      class="alert alert-danger"
    >
      Put a valid title
    </div>

    <div class="form-group">
      <label>Duration</label>
      <input
        [(ngModel)]="music.duration"
        class="form-control"
        name="durationControl"
        type="number"
        #durationControl="ngModel"
        required
        min="1"
        placeholder="Duration"
      />
    </div>

    <div
      *ngIf="durationControl.dirty && durationControl.invalid"
      class="alert alert-danger"
    >
      Put a valid duration
    </div>

    <div class="form-group">
      <label>Music file</label>
      <input [(ngModel)]="music.musicFile" class="form-control" />
    </div>

    <div class="form-group">
      <label>Genre</label>
      <select [(ngModel)]="music.genre" class="form-control">
        <option *ngFor="let enum of genres | keyvalue" [value]="enum.key">
          {{ enum.value }}
        </option>
      </select>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid && titleControl.dirty"
        class="btn btn-outline-success"
      >
        Send
      </button>

      <a
        [routerLink]="['/music']"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >Cancel</a
      >
    </div>
  </div>
</form>
