<form (ngSubmit)="save(form)" #form="ngForm">
  <div class="container">
    <div class="form-group">
      <label>Id</label>
      <input
        class="form-control"
        name="idControl"
        [(ngModel)]="music.id"
        #idControl="ngModel"
        readonly
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label>Title</label>
      <input
        class="form-control"
        name="titleControl"
        [(ngModel)]="music.title"
        #titleControl="ngModel"
        type="text"
        required
        placeholder="Title"
      />
    </div>

    <div
      *ngIf="titleControl.dirty && titleControl.invalid"
      class="alert alert-danger"
    >
      Put a valid title
    </div>

    <div class="form-group">
      <label>Duration</label>
      <input
        [(ngModel)]="music.duration"
        class="form-control"
        name="durationControl"
        type="number"
        #durationControl="ngModel"
        required
        min="1"
        placeholder="Duration"
      />
    </div>

    <div
      *ngIf="durationControl.dirty && durationControl.invalid"
      class="alert alert-danger"
    >
      Put a valid duration
    </div>

    <div class="form-group">
      <label>Choose music file</label>
      <input
        ng2FileSelect
        [(ngModel)]="music.musicFile"
        class="form-control"
        name="musicFileControl"
        type="file"
        accept=".mp3"
        #musicFileControl="ngModel"
        required
        placeholder="MusicFile.mp3"
      />
      <!-- [uploader]="uploader" -->

      <!-- <input type="file" name="file" id="file" > -->
    </div>

    <div
      *ngIf="musicFileControl.dirty && musicFileControl.invalid"
      class="alert alert-danger"
    >
      Put a valid music file (mp3 format)
    </div>

    <div class="form-group">
      <label>Genre</label>
      <select [(ngModel)]="music.genre" class="form-control">
        <option *ngFor="let enum of genres | keyvalue" [value]="enum.key">
          {{ enum.value }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button
        type="submit"
        [disabled]="
          form.invalid ||
          titleControl.pristine ||
          durationControl.pristine ||
          musicFileControl.pristine
        "
        class="btn btn-outline-success"
      >
        Send
      </button>

      <a
        [routerLink]="['/music']"
        routerLinkActive="active"
        class="btn btn-outline-warning"
        >Cancel</a
      >
    </div>
  </div>
</form>
