<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="filter">Filtre actuel : </span><b></b>
    </div>
    <div class="col-md-8 form-group">
      <input type="text" [(ngModel)]="chaine" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img
          src="http://localhost:8080/music/covers/{{ albumName }}.jpg"
          alt="File not found"
          class="card-img"
        />
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title :</th>
        <th>Duration in s :</th>
        <th>Music file :</th>
        <th>Genre :</th>
        <th>Edit :</th>
        <th>Delete :</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let music of filtre()">
        <td>
          <a
            [routerLink]="['/music']"
            routerLinkActive="active"
            class="btn btn-link"
            >{{ music.title }}</a
          >
        </td>
        <td>{{ music.duration }}</td>
        <!-- <td>{{ music.musicFile }}</td> -->
        <td>
          <audio
            src="http://localhost:8080/music/musics/{{ music.title }}.mp3"
            controls
          ></audio>
        </td>
        <td>{{ music.genre }}</td>
        <td>
          <a
            class="btn btn-outline-success"
            [routerLink]="['/music', 'form', music.id]"
            routerLinkActive="active"
            >Edit</a
          >
        </td>
        <td>
          <button (click)="delete(music.id)" class="btn btn-outline-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <a
    [routerLink]="['/music', 'form']"
    routerLinkActive="active"
    class="btn btn-outline-primary"
    >Music Creation</a
  >
</div>
