<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id :</th>
        <th>Name :</th>
        <th>Cover :</th>
        <th>Year :</th>
        <th>Edit :</th>
        <th>Delete :</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of albums">
        <td>{{ album.id }}</td>
        <td>
          <a
            [routerLink]="['/music', 'album', album.name]"
            routerLinkActive="active"
            class="btn btn-link"
            >{{ album.name }}</a
          >
        </td>
        <td>{{ album.cover }}</td>
        <td>{{ album.year }}</td>
        <td>
          <a
            [routerLink]="['/album', 'form', album.id]"
            routerLinkActive="active"
            >editer</a
          >
        </td>
        <td>
          <button (click)="delete(album.id)" class="btn btn-outline-danger">
            supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <a
    [routerLink]="['/album', 'form']"
    routerLinkActive="active"
    class="btn btn-link"
    >creation album</a
  >
</div>
