<div class="container">
  <h1 class="title">List of albums :</h1>
  <div class="row">
    <div class="col-4"><span class="filter">Actual filter : </span><b></b></div>
    <div class="col-8">
      <input type="text" [(ngModel)]="chaine" />
    </div>
  </div>
  <br />
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let album of filtre()">
      <div class="card">
        <img
          src="http://localhost:8080/music/covers/{{ album.name }}.jpg"
          class="card-img-top"
        />
        <div class="card-body">
          <h5
            class="card-title"
            [routerLink]="['/music', 'album', album.name]"
            routerLinkActive="active"
            class="btn btn-link"
          >
            {{ album.name }}
          </h5>
          <p class="card-text">{{ album.year }}</p>
        </div>
        <!--  A mettre dans la source <td>{{ album.cover }}</td> -->
      </div>
    </div>
    <br />
  </div>

  <!-- <td>
          <a
            [routerLink]="['/album', 'form', album.id]"
            routerLinkActive="active"
            >editer</a
          >
        </td> -->

  <!-- <td>
          <button (click)="delete(album.id)" class="btn btn-outline-danger">
            supprimer
          </button>
        </td> -->

  <a
    [routerLink]="['/album', 'form']"
    routerLinkActive="active"
    class="btn btn-link"
    >Album creation</a
  >
</div>
